.textBox {
  font-family: "Courier New", Courier, monospace;
  height: 400px;
  width: 700px;
  border-radius: 14px;
  font-size: 25px;
  padding: 2%;
  box-shadow: 0 0 20px 5px #afb0b1;
}

.searchButton {
  font-family: "Courier New", Courier, monospace;
  margin: 2%;
  box-shadow: 0 0 20px 5px #afb0b1;
  font-size: 25px;
  font-weight: 600;
  margin: 10%;
}
