.container {
  display: flex;
  box-shadow: 0 0 5px 5px #afb0b1;
  justify-content: space-around;
  width: 1300px;
  height: 650px;
  background-color: rgb(53, 53, 53);
}

.prompt {
  width: 700px;
  height: 600px;
}

.promptHeading h4 {
  color: rgb(202, 201, 201);
}

.textBox {
  font-family: "Courier New", Courier, monospace;

  height: 300px;
  width: 600px;
  border-radius: 5px;
  font-size: 20px;
  padding: 2%;
  box-shadow: 0 0 1px 1px #afb0b1;
  height: 265px;
  width: 700px;
  border-radius: 14px;
  font-size: 25px;
  padding: 2%;

}

.searchButton {
  font-family: "Courier New", Courier, monospace;

  box-shadow: 0 0 2px 2px #afb0b1;
  margin: 2%;
  font-size: 25px;
  font-weight: 600;
  margin: 7%;
  width: 500px;
}

.generatedImage {
  margin: auto;
  height: 600px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #afb0b1;
}

.genAiImage {
  height: 450px;
  width: 400px;
  background-color: rgb(175, 176, 177);
  margin: auto;
  margin-top: 10%;
  border-radius: 5px;
}
