#root {
  padding: 2rem;
  text-align: center; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.buttons{
  /* margin: 10%; */
}

.chooseButton , .promptButton{
  margin: 2%;
  position: relative;
  font-size: 25px;
  font-weight: 600;
  border: 2px solid #646cff;
}

.chooseButton::before, .promptButton::before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: calc(-1 * 2px);
  content: "";
  background-image: linear-gradient(166deg,#ff507a,#7d51df 33%,#2265de 66%,#0bc786);
  border-radius: inherit;
}